<!doctype html>
<html>
<head>
    <title>Sai Datta Peetham</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../appEngine/appCore/css/slidebars.min.css">
    <link rel="stylesheet" href="../appEngine/appCore/css/saidatta.css" />
    <link rel="stylesheet" href="../appEngine/appCore/css/style.css">
    <link rel="stylesheet" href="../appEngine/appCore/css/accordi-styles.css" />
    <link rel="stylesheet" href="../appEngine/appCore/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="../appEngine/appCore/bs/css/bootstrap-theme.min.css">
</head>
<body>
    <!-- Top Navigation Bar -->
    <div id="sb-top" class="sb-navbar sb-slide">
    </div>

    <!-- Your main site content in here -->
    <div id="sb-site" style="background-image: url(../appEngine/appCore/img/sai-old-back.png)!important; ">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" onclick="javascipt:appViewAnnadanam.toggleButtons('appViewAnnadanamAboutButton')" class="btn btn-success">About</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" onclick="javascipt:appViewAnnadanam.toggleButtons('appViewAnnadanamMediaButton')" class="btn btn-success">Media</button>
            </div>
        </div>
        <div id="appViewAnnadanamAbout" style="padding: 0px 15px;">
            <h5>
                Annadhanam Seva About
            </h5>
            <p class="event-heading" style="text-align: left; ">
                Annadhanam at Sai Datta Peetham
                <br />
                'Annadhanam Samam Danam Trilokeshu Na Vidhathe': These verses from the Vedas mean Annadhanam is supreme and incomparable to any charity.
                <br /><br />
                Baba's quotes: <br />"Annadhanam - is the most pious and meritorious of all charity. Because, it is only by Annadhanam that one can be fully satisfied. It is only when one is given food, however much that person may take; there is a limit beyond which he just cannot take. The person says 'Thrupthosmi' (meaning 'enough I am satisfied'). When food which is offered exceeds the limits, the person begs 'Please do not serve any more'. It is only when full satisfaction is expressed like this; the giver also reaps the full reward of charity".
                <br /><br />
                Nitya Annadhanam at Sai Datta Peetham<br />
                The Sai Datta Peetham while committed to uphold our Culture and Tradition, this is what we follow in Peetham as our Mantra - Never send away anyone without offering them food. And here is our chance to uphold this great Indian tradition - 'Athithi Devo Bhava'.
                <br /><br />
                At Peetham, as a policy, food is affluent and plenty for everyone every day from 5:30am until temple closes. Everyone is welcome to enjoy the Maha Prasadam, absolutely free with no fees. Anyone can be a part & contribute towards this Nithya Annadhanam scheme, Yatha Shakthi (pay what you can)
                <br /><br />
                The Sai Datta Peetham is offering this great opportunity for charity and to serve others, by virtue of which serve His Holiness Baba himself. In the Life of Every Human Being, one is supposed to do Good Karma and Good Karma is nothing but doing good deeds such as charitable activities.
                <br /><br />
                For anyone interested in contributing to Nitha Annadhanam, here are some great opportunities:
                <br />
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Daily Annadhanam - $151</li>
                    <li class="list-group-item list-group-item-warning">Weekend (1 Day) Annadhanam - $251</li>
                    <li class="list-group-item list-group-item-warning">Weekly (7 Days) Annadhanam - $516</li>
                    <li class="list-group-item list-group-item-warning">Monthly Annadhanam - $1,116</li>
                    <li class="list-group-item list-group-item-warning">Saswitha Annadhanam (Yearly 1 day for life) - $5,116</li>
                </ul>
                <br />
            </p>
            <p class="event-heading" style="text-align: left; ">
                This type of Annadhanam is special, sometimes a great way to celebrate certain very special days of our lives, wedding anniversary, ceremonies, birthdays etc.
                <br />
                <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
                    <table width="95%" border="0" cellspacing="0" cellpadding="0" class="donation-form">

                        <tbody>
                            <tr>
                                <td width="300%" colspan="3" align="center">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="Z3NW2PQU4Q9SN">
                                    <input type="image" class="pay" border="0" src="http://saidattanj.org/images/pay-pal.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </p>
            <p class="event-heading" style="text-align: left; ">
                You can also donate groceries needed for daily Maha Prasadham
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Rice (Sona Masoori), Cooking Oil, Toor Dal, Chana Dal, Moong Dal, , Urad Dal, Sooji (White/Red)
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        Cracked Wheat, Sabu Dhana - Saggu Biyyam, Thick Poha,
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        Tamarind, Turmeric Powder, Chilli Powder, Red Chillies, Kabooli Channa, Brown Channa
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        Peas (Green/Yellow), Black eye Beans, Mustard Seeds, Jeera. Idli Rava, Bambino Semiya
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        Fruits, Vegetables
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        Ghee
                    </li>
                    <li class="list-group-item list-group-item-warning">Dry Fruits</li>
                </ul>

            </p>

        </div>
        <div id="appViewAnnadanamMedia" style="display:none;padding: 0px 15px;">
            <h5>
                Annadhanam Seva Media
            </h5>
            <div id="appViewAnnadanamMediaList"></div>
        </div>
    </div>

    <div id="appViewAnnadanamPlayScreen" style="padding: 0px 15px;">
        <a class="btn btn-info" onclick="javascript:appViewAnnadanam.backToVideoList();">Back</a>
        <iframe id="appViewAnnadanamiFrame" width="100%" height="345"> </iframe>
    </div>


    <!-- Left Slidebar -->
    <div id="sb-left" class="sb-slidebar sb-left">
    </div>

    <!-- Dont Delete this line -->
    <div class="sb-slidebar sb-right">
    </div>

    <script src="../appEngine/appCore/js/jquery.min.js"></script>
    <script src="../appEngine/appCore/bs/js/bootstrap.min.js"></script>
    <script src="../appEngine/appCore/js/slidebars.min.js"></script>
    <script src="../appEngine/appCore/js/accordi-main.js"></script>
    <script src="../appEngine/underscore-min.js"></script>
    <script src="../appEngine/appDeviceToken.js"></script>
    <script src="../appEngine/appEngine.js"></script>

    <script src="../appView/appViewAnnadanam.js"></script>
    <script src="../appController/appControllerSeva.js"></script>
    <script>

        $(document).ready(function () {
            appEngine.initialize();
            appViewAnnadanam.initialize();
        });

    </script>

    <script src="../appEngine/appCore/js/slidebars-theme.js"></script>

    <script type="text/template" id="appViewAnnadanamMediaList-template">
        <ul>
            <% for(var i in sTemplateJSON) { %>

            <li class="active">
                <% if(sTemplateJSON[i]['MEDIA_TYPE']=='IMAGE'){%>

                <p class="event-heading" style="text-align:left"> <%- sTemplateJSON[i]['MEDIA_TITLE'] %> </p>
                <img width="50%" src="<%- sTemplateJSON[i]['MEDIA_ATTACHMENT'] %>" />
                <% } else { %>

                <p class="event-heading" style="text-align:left"> <%- sTemplateJSON[i]['MEDIA_TITLE'] %> </p>
                <a href="javascript:appViewAnnadanam.playVideo('<%- sTemplateJSON[i]['MEDIA_ATTACHMENT'] %>');" target="_blank" class="m-t-xs m-b-xs">
                    <img width="50%" src="<%- appViewAnnadanam.getYoutubeThumbnail(sTemplateJSON[i]['MEDIA_ATTACHMENT']) %>" />
                </a>
                <% } %>
            </li>
            <br />
            <% } %>
        </ul>
    </script>
</body>
</html>
